!!!
%html
  %head
    %meta{:content => "text/haml; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HistoricalFigure
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  -# %body
  -#   = yield

  .header
    新規登録
  .button 
    ログイン
  .guest 
    ゲストログイン
